.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache

# Rubygems
*.gem

# RVM
.ruby-version
.ruby-gemset

# Dummy app
spec/dummy

# Editors
*.sublime-project
*.sublime-workspace
